<h1>teste</h1>
<form [formGroup]="form" (ngSubmit)="handleForm()">

    <div formGroupName="step">

        <div formGroupName="partnership">
            <div formGroupName="redacao">
                <label for="theme">Tema</label>
                <select id="theme" formControlName="theme" (change)="themeChange($event)">
                    <ng-container *ngFor="let theme of themeList">
                        <option [value]="theme.title">{{theme.title}}</option>
                    </ng-container>
                </select>
                <!-- <input type="text" formControlName="esssayThemeId">
                <input type="text" formControlName="theme"> -->
            </div>
        </div>

    </div>

    <button type="submit">Enviar</button>
</form>